[Unit]
Description=OneDrive (rclone)
AssertPathIsDirectory=/home/coreyo/mnt/OneDrive
After=Networkd.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=/home/coreyo/.config/rclone/rclone.conf \
        --vfs-cache-mode full \
        --vfs-cache-max-size 25 \
        --drive-use-trash \
        --log-level INFO \
        --log-file /tmp/onedrive.log \
        --cache-info-age=360m onedrive: /home/coreyo/mnt/OneDrive
ExecStop=/bin/fusermount -u /home/coreyo/mnt/OneDrive
Restart=always
RestartSec=10
User=coreyo
Group=coreyo

[Install]
WantedBy=default.target
